/* ================
   Reset
   ================ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  overflow-wrap: break-word;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

/* ================
   Base
   ================ */
:root {
  --text-secondary: grey;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgb(26, 145, 240);
}

/* ================
   Layout
   ================ */
.app-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app-container > header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(239, 242, 249);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.app-container h1 {
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem;
}

.app-container > header > * {
  margin: 1rem;
}

/* ================
   Form Section
   ================ */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}

form > fieldset {
  font-weight: 600;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

form > fieldset > legend {
  margin: 0 auto;
}

fieldset > fieldset legend {
  font-size: 1.25rem;
}

fieldset fieldset button {
  align-self: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

label,
textarea::placeholder {
  color: var(--text-secondary);
  font-size: 0.9rem;
  font-weight: 400;
}

input,
textarea {
  background-color: rgb(239, 242, 249);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 0.75rem;
}

/* ================
   CV Preview
   ================ */
.cv-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  gap: 2rem;
  margin: 2rem;
}

.cv-preview header {
  display: flex;
  flex-direction: column;
}

.cv-preview header h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.contact-info {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.cv-preview section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.cv-preview section h3 {
  align-self: center;
  font-size: 1.1rem;
  font-weight: 550;
}

.cv-preview section article:first-of-type,
.education-preview article:first-of-type {
  border-top: 1px solid black;
}

.cv-preview section article h4 {
  color: grey;
}

.cv-preview h5 {
  font-size: 1rem;
}

.experience-preview .job-info,
.education-preview .school-info {
  display: flex;
  justify-content: space-between;
}

.cv-preview section p {
  font-size: 0.9rem;
  color: rgb(50, 50, 50);
}
